/* .cardDetail.card{
    display: flex;
    flex-direction: row;
}

.cardDetail img{
    width: 50%;
    padding: 3% 5% 0 5%;
}

.cardDetail .body{
    margin-top: 3%;
}

.cardDetail .body .card.title{
    color: red;
} */

.carDetail{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}
    .carDetail h1{
        margin-bottom: 5%;
    }
    .carDetail ul{
        font-size: 2em;
        list-style: none;
    }


.carDetail .photo{
    width: 50%;
    margin-left: 5%;
}
    .carDetail .photo img{
        margin-left: 10%;
        padding: 5% 10%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

.carDetail .body{
    width: 50%;
}