.aumentar-restar .btn{
    width: 15%;
    height: 40px;
    color: #fff;
    margin-right: 2%;
    background-color: #000;    
    font-weight: bold;
}
.aumentar-restar .btn:hover{
    background-color: darkslategray;
    color: #fff;
    
}
.aumentar-restar .addCart{
    background-color: darkslategray;
    color: #000;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: .4% 4%;
}

@media (max-width:1400px){
    .aumentar-restar .addCart{
        margin-left: 10px;
        transform: translateX(100px);
    }
}