
.item-box{
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    background-color: #fff;
}

.item-box h1{
    text-align: center;
    background-color: black;
    color: gray;
}

.item-box img{
    width: 100%;
    margin-bottom: 1%;
}
.stock-control{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    border-radius: 5px;
    border: 1px solid black;
}
.stock-control b{
    color: #000;
}

button{
    border: none;
    width: 100px;
    color: black;
}